<div class="dropdown <%= @custom_class %>" data-controller="dropdown-component" data-dropdown-component-automatic-position-value="<%= @automatic_position %>">
  <div class="dropdown-trigger" data-dropdown-component-target="trigger">
    <%= trigger %>
  </div>

  <div class="dropdown-body" data-dropdown-component-target="body">
    <%= body %>
  </div>
</div>