.dashboard {
  height: calc(100vh - 104px);

  .dashboard-sections {
    height: 100%;
    padding: 0;

    .empty {
      margin: 20px;
      width: calc(100% - 40px);
    }

    .tasks {
      list-style: none;
      padding-inline-start: 0;
      display: flex;
      flex-direction: column;
      align-items: end;

      turbo-frame { width: 100%; }

      .task {
        padding: var(--db-spacing-3) var(--db-spacing-2);
        border-bottom: 1px solid var(--db-color-grey-200);
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        > div:first-child {
          > div {
            display: flex;
            gap: var(--db-spacing-2);
            margin-bottom: var(--db-spacing-2);

            .empty-date { color: var(--db-color-grey-500) }
          }

          h3 {
            margin-bottom: var(--db-spacing-1);
            font-weight: 500;
          }
        }

        > div:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: end;

          > div:first-child {
            display: flex;
            align-items: flex-start;
            gap: var(--db-spacing-1);

            .dropdown {
              .dropdown-trigger {
                button {
                  cursor: pointer;
                  background-color: transparent;
                  border: none
                }
              }
            }
          }

          > div:last-child {
            display: flex;
            align-items: center;
            gap: var(--db-spacing-1-5)
          }
        }
      }

      .pagination { margin: var(--db-spacing-2) var(--db-spacing-2) 0 0 }
    }
  }
}