:root {
  // Font Size

  --db-text-size-xs:   1.2rem;
  --db-text-size-sm:   1.4rem;
  --db-text-size-base: 1.6rem;
  --db-text-size-lg:   1.8rem;
  --db-text-size-xl:   2.0rem;
  --db-text-size-2xl:  2.4rem;
  --db-text-size-3xl:  3.0rem;
  --db-text-size-4xl:  3.6rem;
  --db-text-size-5xl:  4.8rem;
  --db-text-size-6xl:  6.0rem;
  --db-text-size-7xl:  7.2rem;
  --db-text-size-8xl:  9.6rem;
  --db-text-size-9xl:  12.8rem;

  // Line Weight

  --db-text-line-height-4xs:  1.2rem;
  --db-text-line-height-3xs:  1.4rem;
  --db-text-line-height-2xs:  1.6rem;
  --db-text-line-height-xs:   1.8rem;
  --db-text-line-height-sm:   2.1rem;
  --db-text-line-height-base: 2.4rem;
  --db-text-line-height-lg:   2.7rem;
  --db-text-line-height-xl:   3.0rem;
  --db-text-line-height-2xl:  3.6rem;
  --db-text-line-height-3xl:  4.5rem;
  --db-text-line-height-4xl:  5.4rem;
  --db-text-line-height-5xl:  6.2rem;
  --db-text-line-height-6xl:  9.0rem;
  --db-text-line-height-7xl:  10.8rem;
  --db-text-line-height-8xl:  14.4rem;
  --db-text-line-height-9xl:  19.2rem;
}