.custom-dialog {
  cursor: auto;

  .dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000040;
    z-index: 100;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    &.opened {
      display: inherit;
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 540px;
      border-radius: var(--db-border-radius-lg);
      background-color: white;
      margin: var(--db-spacing-3) auto;
      border: 1px solid var(--db-color-grey-200);

      .dialog-header,
      .dialog-body,
      .dialog-footer {
        padding: var(--db-spacing-3);
      }

      .dialog-footer,
      .dialog-header {
        display: flex;
        align-items: center;
      }

      .dialog-header {
        justify-content: space-between;

        .close-dialog-button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .dialog-body {
        border-top: 1px solid var(--db-color-grey-200);
        border-bottom: 1px solid var(--db-color-grey-200);
      }

      .dialog-footer {
        justify-content: flex-end;
        gap: var(--db-spacing-1);
      }
    }
  }
}