@import 'common/search-box-results';

.dashboard {
  padding-bottom: var(--db-spacing-3);

  .dashboard-sections {
    padding: 300px;

    .input-section { margin-top: var(--db-spacing-5) }

    .export-filter-section {
      display: flex;
      margin-top: var(--db-spacing-2);
      height: 51px;

      #download_or_export_bar {
        margin-right: var(--db-spacing-1);
        .btn,
        .progress-bar,
        .export_progression_bar{
          width: 130px;
        }

        .btn {
          display: flex;
          gap: var(--db-spacing-1-5);
        }
      }

      .filters {
        display: flex;
        width: calc(100% - 138px);

        .filter {
          margin-right: var(--db-spacing-1);

          .opened {
            .dropdown-trigger {
              .btn {
                --db-component-button-bg-color: var(--db-color-gray-300);
                --db-component-button-text-color: black;
                outline: 1px solid black;
                border-color: black;
              }
            }
          }
        }

        > div:last-child {
          &:not(:has(ul li)) {
            button { display: none }
          }

          .applied-filter-action {
            padding: 7px var(--db-spacing-2);
            border-radius: 120px;
            background-color: transparent;
            border: 1px solid var(--db-color-blue-500);
            color: var(--db-color-blue-500);
            cursor: pointer;
            min-width: max-content;

            &:hover {
              background-color: var(--db-color-grey-50);
            }
          }

          > div {
            display: flex;
            align-items: baseline;
            gap: var(--db-spacing-1);

            .dialog-body {
              > div { margin-top: var(--db-spacing-2) }
            }
            }
        }

        #applied-filters {
          overflow: auto;
        }
      }
    }

    .table-section {
      margin-top: var(--db-spacing-2);
      display: flex;
      flex-direction: column;
      gap: var(--db-spacing-1-5);

      .pagination { align-self: end }

      .empty { height: 58vh }
    }
  }

  .csv-alert {
    position: absolute;
    top: var(--db-spacing-3);
    right: var(--db-spacing-3);
  }

  .csv-link {
    color: inherit;
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
  }
}
