@import 'breakpoints';

$main-color:    #203D4C;
$light-blue-1:  #CBDAE2;
$light-blue-2:  #F4F8FB;
$light-blue-3:  #E2F0FB;
$medium-blue-1: #1E7FC6;
$medium-blue-2: #3A8FCD;
$dark-blue-1:   #013159;
$yellow-1: #fff1a8;
$yellow-2: #c8af2c;
$yellow-3: #8a7818;


$font-larger:       22px;
$font-bigger:       18px;
$font-medium-large: 16px;
$font-medium-small: 14px;
$font-small:        12px;

$normal-size:   15px;

$navbar-width: 280px;