<fieldset>
    <div>
      <%= render(SearchBoxComponent.new(
        path: tasks_employee_autocomplete_tasks_path,
        domain: 'employees',
      )) do |search_box| %>
        <% search_box.with_input_component(
          label:  'Employee Name',
          value: employee&.first_name
        ) %>

        <% search_box.with_results do %>
          <%= render partial: 'tasks/form/employee_search_box_results' %>
        <% end %>
      <% end %>
    </div>
</fieldset>
